.card {
  opacity: 0.5;
  background-color: rgba(57, 143, 95, 0.05) !important;
  transition: background-color 0.6s ease, opacity 0.6s ease !important;
}

.card:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.13) !important;
  transition: background-color 0.6s ease, opacity 0.6s ease;
}

/* slider is the child RangeSlider element. its className is declared in its own component. */
.slider {
  transition: 0.4s filter linear, opacity 0.4s ease;
}

.card:hover .slider {
  filter: blur(0);
}